<div class="ui-g dashboard">

    <div class="ui-g-12 ui-md-6 ui-sm-12">
        <div class="card border-light border-radius timeline ui-fluid">
            <div class="ui-g">
                <div class="ui-g-3">
                    <span class="event-time">just now</span>
                    <i class="fa fa-map-signs" style="color:#009688"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#009688">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png" width="100">
                    </div>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">12h ago</span>
                    <i class="fa fa-star" style="color:#f1b263"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#f1b263">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">15h ago</span>
                    <i class="fa fa-comment" style="color:#2f8ee5"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#2f8ee5">Stephan Ward</span>
                    <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique,
                        dignissimos.
                    </span>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">2d ago</span>
                    <i class="fa fa-marker" style="color:#2f8ee5"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#2f8ee5">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png" width="100">
                    </div>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">1w ago</span>
                    <i class="fa fa-heart" style="color:#6c76af"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">2w ago</span>
                    <i class="fa fa-history" style="color:#2d353c"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#2d353c">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>

                <div class="ui-g-12">
                    <button type="button" label="Refresh" icon="fa-refresh" pButton></button>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-sm-12 no-padding">
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g-12 card overview-box overview-box-1 border-radius">
                <div class="ui-g-4">
                    <i class="fa fa-inbox" id="icon"></i>
                </div>
                <div class="ui-g-8">
                    <span class="overview-box-count">253</span>
                    <span class="overview-box-name">Messages</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g card overview-box overview-box-2 border-radius">
                <div class="ui-g-4">
                    <i class="fa fa-map-marker" id="icon"></i>
                </div>
                <div class="ui-g-8">
                    <span class="overview-box-count">3216</span>
                    <span class="overview-box-name">Check-ins</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g card overview-box overview-box-3 border-radius">
                <div class="ui-g-4">
                    <i class="fa fa-cloud" id="icon"></i>
                </div>
                <div class="ui-g-8">
                    <span class="overview-box-count">428</span>
                    <span class="overview-box-name">Files Synced</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g card overview-box overview-box-4 border-radius">
                <div class="ui-g-4">
                    <i class="fa fa-key" id="icon"></i>
                </div>
                <div class="ui-g-8 box">
                    <span class="overview-box-count box__count">4</span>
                    <span class="overview-box-name box__text">Login Attempts</span>
                </div>
            </div>
        </div>
    </div>




</div>