.newState
{
    background-color: #F0B518;
    height: 30px;
    width: 50%;
    margin: 0 auto;
}

.approvedState
{
    background-color: #48A746;
    height: 30px;
    width: 50%;
    margin: 0 auto;
}

.forbiddenState
{
    background-color: #DD5826;
    height: 30px;
    width: 50%;
    margin: 0 auto;
}
