

<div id="senzor-base-info">
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info + CATEGORIES-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <!--STATE + BASE INDORMATIONS-->
  <div class="ui-g">

    <!--BASE INDORMATIONS-->
    <div class="card card-w-title border-radius border-light no-margin-b" style="width: 100%;">
      <div class="ui-g text-center main-header">
          <button type="button" pButton icon="fa-arrow-left" (click)="cancelSenzor()" class="ui-button-warning main-header__button--add"></button>
        <h3 class="no-margin main-header__title">Base information: {{ item.name }}</h3>
      </div>
      <div class="ui-g-12 button-block text-center">
          <!--STATE-->
          <div class="btn-group" role="group">
            <label class="button-block__status-of-buttons">Status: </label>
            <button type="button" id="new" class="btn" [class.btn-default]="item.state != '1'" [class.btn-warning]="item.state === '1'"
              (click)="selectState($event)">New</button>
            <button type="button" id="approved" class="btn" [class.btn-default]="item.state != '2'" [class.btn-success]="item.state == '2'"
              (click)="selectState($event)">Approved</button>
            <button type="button" id="forbidden" class="btn" [class.btn-default]="item.state != '3'" [class.btn-danger]="item.state === '3'"
              (click)="selectState($event)">Forbidden</button>
          </div>
        </div>
      <!--MAIN IMAGE-->
      <div class="ui-g-3">
        <div *ngIf="selectedTypeImage != ''" class="thumbnail">
          <img src="{{selectedTypeImage}}" class="img-thumbnail" alt="..." style="max-width: 100%; height: auto;">
        </div>
      </div>
      <div class="ui-g-9">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12 form-section">
            <label for="name" class="form-section__label">Name</label>
            <div class="ui-fluid">
              <input id="name" class="form-section__input border-radius" type="text" pInputText [(ngModel)]="item.name" [ngClass]="{'nonvalid': !isNameValid }" />
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <label for="path" class="form-section__label">Path</label>
            <div class="ui-fluid">
              <input id="path" class="form-section__input border-radius" type="text" pInputText [(ngModel)]="item.path" [ngClass]="{'nonvalid': !isPathValid }" />
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <label for="type" class="form-section__label">Type</label>
            <div class="ui-fluid">
              <p-dropdown id="type" class="form-section__input border-radius" [options]="types" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange($event)"></p-dropdown>
            </div>
          </div>

          <!-- <div class="ui-g-12 ui-md-12">
                <label for="wifissid">Wifi SSID</label>
                <div class="ui-fluid">
                  <input id="wifissid" type="text" pInputText [(ngModel)]="item.wifiSSID" [ngClass]="{'nonvalid': !isWifiSSIDValid }" />
                </div>
              </div>
              <div class="ui-g-12 ui-md-12">
                <label for="wifipassword">Wifi Password</label>
                <div class="ui-fluid">
                  <input id="wifipassword" type="password" pInputText [(ngModel)]="item.wifiPassword" [ngClass]="{'nonvalid': !isWifiPasswordValid }"
                  />
                </div>
              </div>
              <div class="ui-g-12 ui-md-12">
                <label for="mqtturl">MQTT IP</label>
                <div class="ui-fluid">
                  <input id="mqtturl" type="text" pInputText [(ngModel)]="item.mqttUrl" [ngClass]="{'nonvalid': !isMqttValid }" />
                </div>
              </div> -->
        </div>
      </div>
      <div class="ui-g-12 text-center">
        
        <button *ngIf="item.id" type="button" pButton label="DELETE" (click)="deleteSenzor()" class="ui-button-danger button-function"></button>
        <button type="button" pButton label="SAVE" (click)="saveSenzor()" class="ui-button-success button-function"></button>

      </div>
    </div>
  </div>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->


  <p-messages [value]="messagesToUser"></p-messages>
</div>