.form-section {
  position: relative;
  font-family: $font-roboto;

  &__title {
      display: flex;
      margin-top: 15px;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 26px;
      justify-content: start;
      align-items: center;
      height: 80px;
      margin: 0 !important;
  }
    
  &__label{
      
  }

  &__input {
    margin-top: 5px !important;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
  }

  &__input:focus {
      
      border-color: #9acffa !important;
      box-shadow: 0 0 0 0.2rem rgba(33,150,243,.25) !important;
  }
}