.information {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $font-roboto;
  color: $color-text-dark;
  font-weight: 300;

  font-size: 22px;


  @media only screen and (max-width: 900px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 635px) {
      flex-direction: column;
      align-items: flex-start;
      font-size: 22px;

      &__button-edit {
          padding-left: 0;
          margin-top: 10px;
          font-size: 20px;
      }
  }
  

    &__name {
          font-size: 26px;

        &--modified {
            color: $color-text-dark;
            font-size: inherit;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 0 5px 15px;

        }

        &--space { 
            padding-bottom: 10px;
        }

        &--url { 
            padding-top: 10px;
        }

    }

    &__address {
          font-size: 22px;

          @media only screen and (max-width: 900px) {
            font-size: 16px;
          }

    }

    &__button-edit {
        color: $color-blue-new;
        font-size: 20px;

        @media only screen and (max-width: 900px) {
            font-size: 16px;
          }

        background-color: transparent;
        outline: none;
        border: none;

        &--margin {
            margin-top: 50px;
        }
        
        
    }

    &__thumbnail {
        height: 80px;
    object-fit: cover;
    object-position: center center;
    }
}


.information-space {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $font-roboto;
    color: $color-text-dark;
    font-weight: 300;
    font-size: 22px;
  
  
    @media only screen and (max-width: 900px) {
      font-size: 18px;
    }
  
    @media only screen and (max-width: 635px) {
        margin-top: 0;
        flex-direction: row;
        align-items: flex-start;
        font-size: 22px;
        
        
      
        &__button-edit {
            padding-left: 0;
            margin-top: 10px;
            font-size: 18px;

        }
    }
    
  
      &__name {
            font-size: 22px;
  
          &--modified {
              color: $color-text-dark;
              font-size: 22px;
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 5px 0 5px 15px;
  
              @media only screen and (max-width: 475px) {
                  padding: 0px;
                  padding-left: 5px;
                //   font-size: 18px;
              }
          }
  
          &--space { 
              padding-bottom: 10px;
          }
  
          &--url { 
              padding-top: 10px;
          }
  
      }
  
      &__address {
            font-size: inherit;
  
      }
  
      &__button-edit {
          color: $color-blue-new;
          font-size: 20px;
  
          background-color: transparent;
          outline: none;
          border: none;
  
          &--margin {
              margin-top: 60px;

              @media screen and (max-width: 475px) {
                  margin-top: 53px;
              }
          }
          
          @media only screen and (max-width: 475px) {
              font-size: 16px;
          }
      }
  
      &__thumbnail {
          height: 80px;
          width: 120px;
          object-fit: cover;
          object-position: center center;

        @media only screen and (max-width: 475px){
            height: 70px;
        }
      }
  }