.main-block {
  position: relative;
  z-index: 1000;
  margin: 0 -15px 15px -15px;
  padding: 10px 14px;
  background-color: $color-white-default;

  .ui-g-12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 

  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 400;
  }

  &__breadcrumb {
    display: inline-block;
    font-size: 16px;
    a {
      color: #5f666c;
      font-size: 300;
    }
  }
}