.title {
  display: flex;
  width: 100%;
  // background-color: lightgreen;
  margin: 0 0 10px 0;
  position: relative;
  &__text {
      display: flex;
      font-size: 30px;
      flex-grow: 1;
      background-color: #22282d;
      color: white;
      font-weight: 400;
      // font-family: 'Lato';
      // text-transform: uppercase;
      // letter-spacing: 1px;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin: 0;
      border-radius: 5px;

      @media (max-width: 640px){
        font-size: 20px;
      }
  }

  &__button--add {
    position: absolute;
      font-size: 24px;
      width: 60px;
      margin: 0;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  @media (max-width: 1025px) {
    width: 40%;
  }
}