<h1>Place Detail</h1>

<div id="placeDetail" *ngIf="item$ | async">


    <app-place-base-info [item]="item$ | async" (onSave)="savePlace($event)" (onDelete)="deletePlace($event)" (onCancel)="cancelPlace()"></app-place-base-info>

    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
    <!--SPACES-->
    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->

    <div *ngIf="item$ | async" class="ui-g">

        <div class="ui-g-12 ui-md-12">



            <div class="card card-w-title">
                <h1>SPACES</h1>


                <!--VAZBA SPACE - SUBSPACE-->

                <div class="ui-g" *ngIf="item_spaces$ | async">

                    <div *ngFor="let itemsb of (item_spaces$ | async)" class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card overview-box overview-box-1" (click)="selectItem(itemsb.id)">
                            <div class="ui-g-4">
                                <div *ngIf="itemsb.state == 1" style="background-color: yellow;width: 50px;height:50px"></div>
                                <div *ngIf="itemsb.state == 2" style="background-color: green;width: 50px;height:50px"></div>
                                <div *ngIf="itemsb.state == 3" style="background-color: red;width: 50px;height:50px"></div>
                            </div>
                            <div class="ui-g-8">
                                <img src="{{itemsb.image}}" width="100" />
                                <!-- <span class="overview-box-count">253</span> -->
                                <span class="overview-box-name">{{itemsb.name}}</span>
                            </div>
                        </div>
                    </div>





                </div>
            </div>




        </div>

    </div>


</div>