// IMPORTED FONTS

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

// FONTS 

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;


// COLORS - SMALLER PARTS
$color-white-default: #fff;
$color-orange-default: #ffbe76;

$color-green-default: #459e45;

$color-white-1: #fafafa;
$color-white-2: #f9fafb;

$color-grey-2: #99abb4;
$color-grey-1: #72777a;

$color-grey-border-1: rgba(0,0,0,.0625);

$color-black-1: #313435;

$color-blue-1: #0c83e2;
$color-blue-new: #2196f3;

$color-blue-2: #0c7cd5;

// BOX SHADOW

$box-shadow-1: 0 5px 20px rgba(0, 0, 0, 0.05);
