// IMPORTED FONTS

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

// FONTS 

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;


// COLORS - SMALLER PARTS
$color-white-default: #fff;
$color-black-default: #000;
$color-purple-main: #673AB7;
$color-blue-main: #75BFFF;
$color-blue-main-darker: rgb(68, 163, 247);

$color-blue-new: #5895F1;
$color-blue-new-darker: rgb(68, 122, 202);
$color-green-approved: #3CC47C;
$color-green-approved-darker: rgb(38, 148, 89);
$color-red-forbidden: #EE3B0E;
$color-red-forbidden-darker: rgb(182, 50, 17);

$color-yellow-main: #ffdd59;
$color-yellow-main-darker: #dbb931;
$color-red-main: #f53b57;
$color-green-main: #0be881;
$color-workflow-main: #2c3e50;


$color-text-dark:#22282D;

$color-grey-basic: #707070;
$color-grey-list: #81858a;

$color-border-grey: #D9D9D9;

// $color-orange-default: #ffbe76;

// $color-green-default: #459e45;

$color-white-1: #fafafa;
$color-white-2: #f9fafb;

$color-black-1: #313435;


// BOX SHADOW

$shadow-1: 0 3px 10px rgba(0, 0, 0, 0.15);
