<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let attendee of form.get('attendeeMails').value; let i = index;" [selectable]="selectable" [removable]="removable"
                (remove)="remove(i)">
                {{attendee}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Attendees" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
    </mat-form-field>

    <!-- <div> -->
        <w-mat-timepicker color="primary" [(userTime)]="startTime"></w-mat-timepicker>
    <!-- </div>
    <div> -->
        <w-mat-timepicker color="primary" [(userTime)]="endTime"></w-mat-timepicker>
    <!-- </div> -->

    <mat-form-field>
        <input matInput placeholder="Location" formControlName="location">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Subject" formControlName="subject">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Text" formControlName="text" rows="5"></textarea>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>