@import '~scss/variables';
$calendar-inner-gap: 20px;
:host {
    width: 59%;
    min-width: 288px;
    @media only screen and (max-width: 590px) {
        display: block;
        width: 100%;
    }
}

.calendar {
    background: $color-white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

.current-month {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $calendar-inner-gap;
    width: 100%;
    height: 12%;
    min-height: 70px;
    .month-home {
        background: $color-white;
        border: 1px solid $color-grey;
        border-radius: $radius;
        color: $color-grey;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    .mounth-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .month-year {
            color: $color-grey;
            display: inline-block;
            font-size: 1.4rem;
            font-weight: lighter;
            text-align: center;
            text-transform: uppercase;
            margin: auto;
        }
        .arrow-left {
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 22px solid transparent;
            border-right: 22px solid $color-grey-dark;
            display: inline-block;
            margin-right: 10px;
            width: 0;
            height: 0;
        }
        .arrow-right {
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 22px solid $color-grey-dark;
            border-right: 22px solid transparent;
            display: inline-block;
            margin-left: 10px;
            width: 0;
            height: 0;
        }
    }
}

.days-of-week {
    border-bottom: 1px solid $color-grey;
    box-sizing: border-box;
    color: $color-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: $calendar-inner-gap;
    width: 100%;
    .calendar-day {
        text-align: center;
        width: (100% / 7);
    }
}

.days {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $calendar-inner-gap;
    width: 100%;
    .day {
        width: (100% / 7);
        margin: 0 -1px;
        padding: 5% 0;
        position: relative;
    }
    .meeting-counter {
        color: $color-white;
        border-radius: 100%;
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        vertical-align: middle;
    }
    .day-box {
        border-radius: 100%;
        font-size: 1.8rem;
        text-align: center;
        transition: border .25s ease-out;
    }
    .current-week-body {
        border-top: 1px solid $color-navy-light;
        border-bottom: 1px solid $color-navy-light;
    }
    .current-week-start {
        border-top-left-radius: 100%;
        border-top: 1px solid $color-navy-light;
        border-bottom: 1px solid $color-navy-light;
        border-bottom-left-radius: 100%;
        border-left: 1px solid $color-navy-light;
    }
    .current-week-end {
        border-top: 1px solid $color-navy-light;
        border-right: 1px solid $color-navy-light;
        border-bottom: 1px solid $color-navy-light;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
    .bigger-font {
        font-size: 2rem;
        color: $color-grey-dark;
    }
    .inactive {
        opacity: .15;
        color: $color-grey !important;
    }
    .today {
        // margin: 10px;
        background-color: $color-purplish; // width: 97px;
        // height: 97px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        color: $color-white;
    }
}

::-webkit-scrollbar {
    display: none;
}