@import '~scss/variables';
:host {
    width: 59%;
}

.calendar {
    background: $color-white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    flex: 0 0 57.5%;
}

.current-month {
    margin: 40px auto;
    .month-home {
        cursor: pointer;
        color: $color-grey;
        padding: 5px 10px;
        border: 1px solid $color-grey;
        border-radius: 10px;
    }
    .mounth-nav {
        .month-year {
            width: 300px;
            text-align: center; // font-size: inherit;
            font-weight: lighter;
            text-transform: uppercase; // letter-spacing: 1px;
            color: $color-grey;
        }
        .arrow-left {
            width: 0;
            height: 0;
            border-top: 12.5px solid transparent;
            border-bottom: 12.5px solid transparent;
            border-left: 22px solid transparent;
            border-right: 22px solid var(--color-grey-dark-1);
            margin-right: 10px;
        }
        .arrow-right {
            width: 0;
            height: 0;
            border-top: 12.5px solid transparent;
            border-bottom: 12.5px solid transparent;
            border-left: 22px solid var(--color-grey-dark-1);
            border-right: 22px solid transparent;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

.days-of-week {
    display: flex;
    font-size: 1.25rem; // font-weight: 400;
    width: 840px;
    margin-bottom: 10px;
    color: $color-grey;
    justify-content: space-evenly;
    border-bottom: 1px solid $color-grey;
}

.calendar-days {
    text-align: center;
    width: 120px;
    margin-bottom: 10px;
}

.days {
    padding: 10px 0;
    display: flex;
    width: 840px;
    flex-wrap: wrap;
    justify-content: center;
}

.meeting-counter {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: $color-white;
}

.day-box {
    margin: 10px;
    width: 97px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    border-radius: 100%;
    transition: border .25s ease-out;
}

.current-week-body {
    border-top: 1px solid $color-navy-light;
    border-bottom: 1px solid $color-navy-light;
}

.current-week-start {
    border-top-left-radius: 100%;
    border-top: 1px solid $color-navy-light;
    border-bottom: 1px solid $color-navy-light;
    border-bottom-left-radius: 100%;
    border-left: 1px solid $color-navy-light;
}

.current-week-end {
    border-top: 1px solid $color-navy-light;
    border-right: 1px solid $color-navy-light;
    border-bottom: 1px solid $color-navy-light;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.bigger-font {
    font-size: 2.1875rem;
    color: $color-grey-dark;
}

.inactive {
    opacity: .15;
    color: $color-grey-light !important;
}

.today {
    margin: 10px;
    background-color: $color-purplish;
    width: 97px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.84375rem;
    color: $color-white !important;
}

::-webkit-scrollbar {
    display: none;
}