<div class="calendar">

  <div class="current-month">
    <button class="month-home" (click)="monthHome()">Today</button>
    <span class="mounth-nav">
      <span class="arrow-left" (click)="previousMonth()"></span>
      <span class="month-year">{{ selectedDate.format('MMMM YYYY') }}</span>
      <span class="arrow-right" (click)="nextMonth()"></span>
    </span>
  </div>

  <div class="days-of-week">
    <div class="calendar-day">MON</div>
    <div class="calendar-day">TUE</div>
    <div class="calendar-day">WED</div>
    <div class="calendar-day">THU</div>
    <div class="calendar-day">FRI</div>
    <div class="calendar-day">SAT</div>
    <div class="calendar-day">SUN</div>
  </div>

  <div class="days" [@calendarSlideRight]="calendarDaysSlideRight" [@calendarSlideLeft]="calendarDaysSlideLeft" [@calendarToday]="calendarTodayAnimation">
    <div class="day" *ngFor="let day of daysArr" [ngClass]="{'current-week-body': thisWeekCheck(day), 'current-week-start': thisWeekCheckFirst(day), 'current-week-end': thisWeekCheckLast(day)}">
      <span class="meeting-counter" [ngClass]="{'inactive':!day}"> </span>
      <div class="day-box" [ngClass]="{'today': selectedDateCheck(day), 'inactive': !thisMonthCheck(day), 'bigger-font': thisWeekCheck(day)}"
        (click)="selectDate(day)" [ngStyle]="{'border': todayCheck(day) ? '1px solid var(--color-navy-dark-2)' : '1px solid transparent', 'color': day.isoWeekday() === 6 || day.isoWeekday() === 7 ? '#F44336' : 'var(--color-grey-dark-3)'}">
        {{day?.date()}}
      </div>
    </div>
  </div>

</div>