@import '~scss/variables';

:host {
    width: 59%;
    min-width: 288px;
    @media only screen and (max-width: 590px) {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
}

.calendar {
    background: $color-white;
    border-radius: $radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: $gap-inner;
    height: 100%;
    max-height: 100%;
}

.current-month {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding-bottom: $gap-inner;    
    width: 100%;
    height: 12%;
    min-height: 70px;
    .month-home {
        background: $color-white;
        border: 1px solid $color-grey;
        border-radius: $radius;
        color: $color-grey;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    .mounth-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .month-year {
            color: $color-grey;
            display: inline-block;
            font-size: 1.4rem;
            font-weight: lighter;
            text-align: center;
            text-transform: uppercase;
            margin: auto;
        }
        .arrow-left {
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 22px solid transparent;
            border-right: 22px solid $color-grey-dark;
            display: inline-block;
            margin-right: 10px;
            width: 0;
            height: 0;
        }
        .arrow-right {
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 22px solid $color-grey-dark;
            border-right: 22px solid transparent;
            display: inline-block;
            margin-left: 10px;
            width: 0;
            height: 0;
        }
    }
}

.days-of-week {
    border-bottom: 1px solid $color-grey;
    box-sizing: border-box;
    color: $color-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: $gap-inner;
    padding-bottom: $gap-inner;
    width: 100%;
    .calendar-day {
        text-align: center;
        width: (100% / 7);
    }
}

.days {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    .day {
        display: flex;
        align-items: center;
        justify-content: center;
        width: (100% / 7);
        margin: 0 -1px;
        position: relative;
    }
    .meeting-counter {
        color: $color-white;
        border-radius: 50%;
        pointer-events: none;
        /* you can click through */
        position: absolute;
        top: 29px;
        left: 69px;
        width: 25px;
        height: 25px;
        text-align: center;
        vertical-align: middle;
    }
    .day-box {
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        text-align: center;
        transition: border .25s ease-out;
        width: 50px; //90% - test pevne velikosti
        height: 50px; // 90%
        &.bigger-font {
            color: $color-grey-dark;
            font-size: 2rem;
        }
        &.inactive {
            color: $color-grey !important;
            opacity: .3;
        }
        &.today {
            // background-color: $color-purplish;
            color: $color-white !important;
            position: relative;
            z-index: 0;
            &::before {
                background-color: $color-purplish;
                border-radius: 50%;
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
    }
    .current-week-body,
    .current-week-start,
    .current-week-end {
        align-self: stretch;
    }
    .current-week-body {
        border-top: 1px solid $color-navy-light;
        border-bottom: 1px solid $color-navy-light;
    }
    .current-week-start {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top: 1px solid $color-navy-light;
        border-bottom: 1px solid $color-navy-light;
        border-left: 1px solid $color-navy-light;
    }
    .current-week-end {
        border-top: 1px solid $color-navy-light;
        border-right: 1px solid $color-navy-light;
        border-bottom: 1px solid $color-navy-light;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

::-webkit-scrollbar {
    display: none;
}