@import '~scss/abstracts/variables';
@import '~scss/base/base';
.cls-16,
.cls-3 {
  fill: #fff
}

.cls-9 {
  fill: #dfd1c0
}

.cls-11 {
  fill: #eae4df
}

.cls-12 {
  fill: #979898
}

.cls-16 {
  opacity: .3
}

.cls-17 {
  fill: #8b9495
}

.cls-18 {
  fill: #85898b
}

.cls-19 {
  fill: #a4a6a7
}

.cls-20 {
  fill: #454f56
}

.cls-21 {
  fill: #6a7172
}

.cls-22 {
  fill: #cfdddf
}

.cls-23 {
  fill: #666
}

.cls-24 {
  fill: #6d6f70
}

.cls-25 {
  fill: #8d9091
}

.cls-26 {
  fill: #7b8384
}

.cls-27 {
  fill: #c1b8b8
}

.cls-28 {
  fill: #c7b299
}

.cls-29 {
  fill: #2b475d
}

.cls-30 {
  fill: gray
}

.cls-31,
.cls-32 {
  fill: #af2c36
}

.cls-32 {
  font-size: 11.87px;
  font-family: ArialMT, Arial
}

.cls-39 {
  fill: #999
}

.cls-40 {
  fill: #998675
}
