<div id="senzor-base-info">
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info -->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <!--BASE INDORMATIONS-->
  <div class="ui-g">

    <div class="modal-delete" *ngIf="deleteModal === true">
      <div class="content">
        <div class="content__head">
          <h1 class="title">Confirm Delete</h1>
          <a class="boxclose" (click)="deleteModal = false" id="boxclose"></a>
        </div>
        <div class="content__body">
          <p>
            You are about to delete a space this procedure is irreversible.
          </p>
          <p>
            Do you want to proceed?
          </p>
        </div>

        <div class="content__footer">
          <button type="button" pButton icon="fa-angle-left" label="BACK" (click)="deleteModal = false" class="ui-button-info"></button>
          <button type="button" pButton icon="fa-trash" label="DELETE" (click)="deleteSpace()" class="ui-button-danger"></button>
        </div>
      </div>
    </div>

    <div *ngIf="!allowEdit" class="ui-g-12 no-padding information-space">
      <div>
        <img src="{{item.image}}" alt="..." class="information-space__thumbnail">
      </div>
      <div class="no-margin information-space__name--modified">
        <div class="information-space__name--space">
          {{ item.name }}
        </div>
        <div class="information-space__name--url">
          {{ item.path }}
        </div>
      </div>
      <button *ngIf="item.id" type="button" label="Edit" class="information-space__button-edit information-space__button-edit--margin" (click)="allowEdit = !allowEdit">Edit Space</button>
    </div>

    <div class="ui-g-6 ui-lg-6 ui-md-12 no-padding" *ngIf="allowEdit">
      <h1 class="main-header__title margin-b-medium">{{ item.name }}</h1>

      <div class="ui-g-12 ui-lg-12 no-padding margin-b-medium">
        <div class="btn-group" role="group">
          <!-- <label class="button-block__status-of-buttons">Status: </label> -->
          <button type="button" id="new" class="btn" [class.btn-default]="item.state != '1'" [class.btn-warning]="item.state === '1'"
            (click)="selectState($event)">New</button>
          <button type="button" id="approved" class="btn" [class.btn-default]="item.state != '2'" [class.btn-success]="item.state == '2'"
            (click)="selectState($event)">Approved</button>
          <button type="button" id="forbidden" class="btn" [class.btn-default]="item.state != '3'" [class.btn-danger]="item.state === '3'"
            (click)="selectState($event)">Forbidden</button>
        </div>
        <div class="ui-g-12 no-padding-left form-group">

          <label for="name" class="form-section__label">Name</label>
          <div class="ui-fluid">
            <input id="name" class="form-section__input" type="text" pInputText [(ngModel)]="item.name" [ngClass]="{'nonvalid': !isNameValid }"
            />
          </div>
        </div>

        <div class="ui-g-12 no-padding-left form-group">
          <label for="path" class="form-section__label">Path</label>
          <div class="ui-fluid">
            <input id="path" class="form-section__input" type="text" pInputText [(ngModel)]="item.path" [ngClass]="{'nonvalid': !isPathValid }"
            />
          </div>
        </div>

        <div class="ui-g-12 ui-lg-12 no-padding-left">
          <div [ngClass]="{'nonvalid': !isMainPictureValid }">
            <div *ngIf="!item.image" class="thumbnail">
              <img class="img-thumbnail" alt="..." style="max-width: 100%; height: auto;" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTEiIGhlaWdodD0iMTQxIj48cmVjdCB3aWR0aD0iMTkxIiBoZWlnaHQ9IjE0MSIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijk1LjUiIHk9IjcwLjUiIHN0eWxlPSJmaWxsOiNhYWE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXNpemU6MTJweDtmb250LWZhbWlseTpBcmlhbCxIZWx2ZXRpY2Esc2Fucy1zZXJpZjtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xOTF4MTQxPC90ZXh0Pjwvc3ZnPg==">
            </div>
            <div *ngIf="item.image" class="thumbnail">
              <img src="{{item.image}}" class="img-thumbnail no-padding" alt="...">
            </div>
          </div>
        </div>


        <div class="ui-g-12 upload-btn-wrapper fileinput no-padding-left" data-provides="fileinput3">
          <button class="btn-upload">{{ imgUpload }}
            <input type="file" name="mainvPicture" (change)="addMainPictureChangeEvent($event)">
          </button>
        </div>


        <div class='ui-g-12 no-padding-left' style="display: flex; justify-content: space-between">
          <div>
            <button type="button" pButton icon="fa-arrow-left" label="Cancel" (click)="allowEdit = false" class="ui-button-warning button-function"></button>
            <!-- <button type="button" pButton icon="fa-arrow-left" (click)="cancelPlace()" class="ui-button-warning button-function"></button> -->
            <button type="button" pButton label="Save" icon="fa-check" (click)="saveSpace()" class="ui-button-success button-function"></button>
          </div>

          <div>
            <button *ngIf="item.id" type="button" icon="fa-trash" pButton label="Delete" (click)="deleteModal = true" class="ui-button-danger button-function"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

  </div>
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <p-messages [value]="messagesToUser"></p-messages>
</div>