<div id="senzor-base-info">
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info -->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <!--BASE INDORMATIONS-->
  <div class="ui-g">

    <div class="modal-delete" *ngIf="deleteModal === true">
      <div class="content">
        <div class="content__head">
          <h1 class="title">Confirm Delete</h1>
          <a class="boxclose" (click)="deleteModal = false" id="boxclose"></a>
        </div>
        <div class="content__body">
          <p>
            You are about to delete a space this procedure is irreversible.
          </p>
          <p>
            Do you want to proceed?
          </p>
        </div>

        <div class="content__footer">
          <button type="button" icon="fa-angle-left" label="Back" (click)="deleteModal = false" class="button-function button-function--yellow">
            <i class="fa fa-arrow-left"></i> Cancel</button>
          <button type="button" icon="fa-trash" label="Delete" (click)="deleteSpace()" class="button-function button-function--red">
            <i class="fa fa-trash"></i> Delete</button>
        </div>
      </div>
    </div>

    <div *ngIf="!allowEdit" class="ui-g-12 no-padding information">

      <div>
        <img *ngIf="item.image !== ''; else imageDefault" [ngClass]="colorMap[item.state]" src="{{item.image}}" alt="..." class="information__thumbnail information__thumbnail--photo">
        <ng-template #imageDefault>
          <div class="default-image" [ngClass]="colorMap[item.state]">
            Please upload a photo.
          </div>
        </ng-template>
      </div>

      <div class="information__flex">
        <h3 class="information__name no-margin">{{ item.name }}</h3>
        <div class="information__address">{{ item.path }}</div>
      </div>

      <button *ngIf="item.id" type="button" label="Edit" class="information__button-edit"
        (click)="allowEdit = !allowEdit">Edit Space</button>
    </div>

    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12 no-padding" *ngIf="allowEdit">
      <!-- <h1 class="main-header__title margin-b-medium">{{ item.name }}</h1> -->

      <div class="ui-g-12 no-padding-left">
        <div class="btn-group" role="group">
          <button type="button" class="btn-warning" [class.btn-warning--active]="item.state == '1'" (click)="selectState($event)">New</button>
          <button type="button" class="btn-success" [class.btn-success--active]="item.state == '2'" (click)="selectState($event)">Approved</button>
          <button type="button" class="btn-danger" [class.btn-danger--active]="item.state === '3'" (click)="selectState($event)">Forbidden</button>
        </div>
      </div>

      <div class="ui-g-9 ui-lg-9 ui-sm-12 no-padding margin-b-medium">

        <div class="ui-g-12 no-padding-left form-group">
          <label for="name" class="form-section__label">Name</label>
          <div class="ui-fluid">
            <input id="name" class="form-section__input" type="text" pInputText [(ngModel)]="item.name" [ngClass]="{'nonvalid': !isNameValid }"
            />
          </div>
        </div>

        <div class="ui-g-12 no-padding-left form-group">
          <label for="path" class="form-section__label">Path</label>
          <div class="ui-fluid">
            <input id="path" class="form-section__input" type="text" pInputText [(ngModel)]="item.path" [ngClass]="{'nonvalid': !isPathValid }"
            />
          </div>
        </div>


        <div class="ui-g-12 ui-lg-12 no-padding-left">
          <div [ngClass]="{'nonvalid': !isMainPictureValid }">
            <ng-template #imageDefault>
              <div class="default-image default-image--detail">
                Please upload a photo.
              </div>
            </ng-template>
            <div *ngIf="item.image; else imageDefault" class="thumbnail">
              <img src="{{item.image}}" class="img-thumbnail no-padding" alt="...">
            </div>
          </div>
          <div class="button-upload-wrapper" data-provides="fileinput3">
            <button class="button-upload">{{ imgUpload }}
              <input type="file" name="mainvPicture" (change)="addMainPictureChangeEvent($event)">
            </button>
          </div>
        </div>

        <div class='ui-g-12 no-padding-left' style="display: flex; justify-content: space-between">
          <div>
            <button *ngIf="pathCheck.newSpace0 !== '0'" type="button" label="Cancel" (click)="allowEdit = false" class="button-function button-function--yellow">
              <i class="fa fa-arrow-left"></i> Cancel</button>
            <!-- <button type="button" pButton icon="fa-arrow-left" (click)="cancelPlace()" class="button-function"></button> -->
            <button type="button" label="Save" (click)="saveSpace()" class="button-function button-function--green">
              <i class="fa fa-check"></i> Save</button>
          </div>
          <div>
            <button *ngIf="item.id" type="button" label="Delete" (click)="deleteModal = true" class="button-function button-function--red">
              <i class="fa fa-trash"></i> Delete</button>
          </div>
        </div>

      </div>



    </div>





    <div class="divider"></div>

  </div>
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <p-messages [value]="messagesToUser"></p-messages>
</div>