@import '~scss/_variables';
.navbar {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: $shadow-3;
    font-weight: lighter;
    width: 100%;
    height: $nav-height;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    text-align: center;
    z-index: 10;
    .button {
        cursor: pointer;
        display: inline-block;
        padding: 20px 3vw;
        a {
            color: white;
            font-size: 1.5625rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            &:focus {
                color: white;
            }
        }
        .active-tab {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            border-radius: 25px;
            margin: 3px auto auto auto;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.05s;
        }
        @media only screen and (max-width: 1072px) {
            transform: translateX(0);
        }
    }
    .time {
        float: right;
        font-size: 1.875rem;
        padding: 15px 3vw;
        @media only screen and (max-width: 1072px) {
            float: none;
        }
    }
}

.on {
    width: 100%;
    box-shadow: 0px 0px 10px white;
    background-color: white;
}

.on2 {
    width: 100%;
    box-shadow: 0px 0px 10px black;
    background-color: black;
}

.special {
    color: black;
}

.special-shadow {
    text-shadow: 0px 0px 10px black;
}

.normal {
    color: white;
}

.normal-shadow {
    text-shadow: 0px 0px 10px white;
}