:host {
  width: 100vw;
  height: 100vh;
  display: block;
}

.cls-1 {
    fill: #4caf50
  }

  .cls-12,
  .cls-2,
  .cls-7,
  .cls-8,
  .cls-9 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round
  }

  .cls-2 {
    stroke: #090
  }

  .cls-12,
  .cls-2,
  .cls-7,
  .cls-8,
  .cls-9 {
    stroke-width: .142px
  }

  .cls-7 {
    stroke: #099
  }

  .cls-8,
  .cls-9 {
    stroke: #09c
  }

  .cls-9 {
    stroke-dasharray: .874 .437 .01 .218 .01 .437
  }

  .cls-12 {
    stroke: #ff7f00
  }

  .cls-14 {
    fill: #333
  }
