<div class="container">
  <img (click)="serviceModalIsShown = true" id="service-icon" src="../../assets/icons/service-needed.svg" alt="service icon">
  <img (click)="receptionModalIsShown = true" id="summoning-icon" src="../../assets/icons/summon-a-receptionist.svg" alt="summon icon">
  <img (click)="snackModalIsShown = true" id="snacks-icon" src="../../assets/icons/order-snacks.svg" alt="snacks icon">
  <img (click)="somethingElseModalIsShown = true" id="something-icon" src="../../assets/icons/something-else.svg" alt="something icon">
</div>

<!-- SERVICE MODAL -->
<div class="modals">

  <!-- SERVICE MODAL -->
  <div 
    class="service-modal" 
    *ngIf="serviceModalIsShown" 
    @showServiceModal>
    <div class="service-modal__content">

        <h1 class="service-modal__h4">The meeting room will be readied.</h1>
        <button (click)='serviceModalIsShown = false' class="ok-button service-modal__ok-button">OK</button>
    </div>
  </div>

  <!-- PIN + RECEPTION MODAL -->
  <div 
    class="reception-modal"
    *ngIf="receptionModalIsShown"
    @showReceptionModal>
    <div class="card">
      <div class="card__side card__side-front">
        <form (submit)="onReceptionPinSubmit()" class="align-center">
          <div class="close-button" (click)="receptionModalIsShown = false"></div>
          <label for="pin" class="pin__h1 heading-primary">Enter your PIN</label>
          <input appAutofocus [(ngModel)]="pinNumber" type="password" name="pin" class="pin__input" placeholder="****" maxlength="4">
          <div class="pin__highlight highlight-1"></div>
          <button type="submit" class="pin__confirm-button ok-button">Confirm</button>
        </form>
      </div>
      <div class="card__side card__side-back" *ngIf="receptionModalFlip">
        <div class="u-center">
          <h4 class="heading-primary reception-modal__h4">A receptionist will arrive shortly.</h4>
          <button class="ok-button reception-modal__ok-button" (click)="receptionModalIsShown = false">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- SNACKS MODAL (routing to Snacks component) -->

  <div 
    class="snack-modal"
    *ngIf="snackModalIsShown"
    @showSnackModal>
    <div class="card">
      <div class="card__side card__side-front">
        <form (submit)="onSnackPinSubmit()" class="align-center">
          <div class="close-button" (click)="snackModalIsShown = false"></div>
          <label for="pin" class="pin__h1 heading-primary">Enter your PIN</label>
          <input appAutofocus [(ngModel)]="pinNumber" type="password" name="pin" class="pin__input" placeholder="****" maxlength="4">
          <div class="pin__highlight highlight-1"></div>
          <button type="submit" class="pin__confirm-button ok-button">Confirm</button>
        </form>
      </div>
      <div class="card__side card__side-back">
        <div class="u-center">
          <h4 class="heading-primary reception-modal__h4">TEST</h4>
          <button class="ok-button reception-modal__ok-button" (click)="receptionModalIsShown = false">CLOSE</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div 
    class="snack-modal"
    *ngIf="snackModalIsShown"
    @showSnackModal>
    <div class="snack-card__side-front">
        <div class="snack-modal__content snack-shake">
            <form (submit)="onSnackPinSubmit()" class="align-center snack-3d">
              <div class="close-button" (click)="snackModalIsShown = false"></div>
              <label for="pin" class="pin__h1 heading-primary">Enter your PIN</label>
              <input [(ngModel)]="pinNumber" type="password" name="pin" class="pin__input" placeholder="****" maxlength="4">
              <div class="pin__highlight highlight-1"></div>
              <button type="submit" class="pin__confirm-button ok-button">Confirm</button>
            </form>
        </div>
    </div>
    <div class="snack-card__side-back">

    </div>
    
  </div> -->

  <!-- SOMETHING ELSE MODAL -->

  <div 
    class="something-else-modal"
    *ngIf="somethingElseModalIsShown"
    @showSomethingElseModal>
    <div class="something-else-modal__content">
      <div class="u-center">
        <h1 class="heading-primary service-modal__h4">Something else...</h1>
        <button (click)='somethingElseModalIsShown = false' class="ok-button service-modal__ok-button">SEND</button>
      </div>
    </div>
  </div>

</div>