@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato:300");

html {
    font-size: 62.5%;
}

.container {
    text-align: center;
    margin-top: 5%;
    display: static;
}

#service-icon, #snacks-icon, #summoning-icon, #something-icon {
    margin-top: 10vh;
    width: 23vw;
    height: 45vh;
    cursor: pointer;
    transition: all .3s;
    padding-bottom: 3vh;
}
#service-icon:hover, #snacks-icon:hover, #summoning-icon:hover, #something-icon:hover {
    transform: translatey(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
#service-icon:active, #snacks-icon:active, #summoning-icon:active, #something-icon:active {
    transform: translatey(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* UTILITIES */

.modals {
    font-family: 'Lato', sens-serif;
}

.u-center {
    text-align: center;
}

.u-abs-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TYPOGRAPHY  */

.heading-primary {
    display: block;
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #777, #333);
    -webkit-background-clip: text; 
    color: transparent; 
    letter-spacing: 2px;
}

.heading-pin {
    color: #979595;
    text-align: center;
    font-family: lato;
    margin: auto;
    margin-bottom: 8%;
    font-size: 25px;
    letter-spacing: 1px;
    display: block;
}

/* COMPONENTS  */

            /* HIGHLIGHTER */
.highlight-1 {
    display: block;
    width: 0;
    height: 4px;
    border-radius: 50px;
    background-color: transparent;
    transition: all .3s;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
}


        /* (OK - CONFIRM) BUTTON */

.ok-button {
    display: inline-block;
    background-color: rgb(3, 169, 244);
    border-radius: 5px;
    padding: 15px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.confirm-button{
    display: inline-block;
    border: none;
    background-color: rgb(3, 169, 244);
    color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    transition: background-color .2s;
}
.confirm-button:focus {
    outline: none;
}
.confirm-button:active {
    background-color: rgb(0, 119, 199);
}

            /* CLOSE BUTTON */

.close-button{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
}

.close-button:after, .close-button:before {
    position: absolute;
    content: '';
    height: 33px;
    width: 6px;
    background-color: #777;
    top: 15px;
    right: 25px;
    border-radius: 25px; 
}
.close-button:after {
    transform: rotate(45deg);
}
.close-button:before {
    transform: rotate(-45deg);
}

/* /////////////////// SERVICE MODAL /////////////////// */

.service-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.service-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.service-modal__h4 {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.service-modal__ok-button{
    display: inline-block;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .2s;
}
.service-modal__ok-button:active {
    background-color: rgb(0, 119, 199);
}

/* /////////////////// PIN MODAL /////////////////// */

.reception-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card {
    display: block;
    perspective: 300rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card__side{
    z-index: 20;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transition: all .8s;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
}

.card__side-front{
    background-color: #fff;
}

.card__animation {
    animation: shakingFront .5s ease-in;
}

.card__side-back{
    background-color: #fff;
    transform: translate(-50%, -50%) rotatex(180deg);
}

.align-center {
    text-align: center;
}


.pin-modal__close-button{
    position: absolute;
    top: -30px;
    right: -30px;
    box-shadow: 5px -5px 60px rgba(0, 0, 0, .2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.pin__h1 {
    margin-top: 8%;
}

.pin__input{
    border: none;
    margin-top: 10%;
    width: 30%;
    text-align: center;
    font-size: 100px;
    letter-spacing: 5px;
}
.pin__input:focus {
    outline: none;
}

.pin__input:focus + .highlight-1 {
    width: 40%;
    background-color: rgb(3, 169, 244);
}

.pin__highlight {
    margin: 0 auto 8% auto;
}

.reception-modal__h4{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.reception-modal__ok-button{
    position: absolute;
    bottom: 10%;
    transform: translate(-50%, -50%);
}

.snack-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.snack-modal__content {
    perspective: 100rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.snack-modal__content .snack-3d {
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    transform-style: preserve-3d;
}
.snack__pin--animation {
    animation: shakingSnackPin .5s ease-in;
}

.something-else-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.something-else-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes shakingFront{
    0%{transform: translate(-50%, -50%) rotateY(15deg)}
    20%{transform: translate(-50%, -50%) rotateY(-15deg)}
    40%{transform: translate(-50%, -50%) rotateY(15deg)}
    60%{transform: translate(-50%, -50%) rotateY(-10deg)}
    80%{transform: translate(-50%, -50%) rotateY(10deg)}
    100%{transform: translate(-50%, -50%) rotateY(0deg)}
}

@keyframes shakingSnackPin{
    0%{transform: translate(-50%, -50%) rotateY(15deg)}
    20%{transform: translate(-50%, -50%) rotateY(-15deg)}
    40%{transform: translate(-50%, -50%) rotateY(15deg)}
    60%{transform: translate(-50%, -50%) rotateY(-10deg)}
    80%{transform: translate(-50%, -50%) rotateY(10deg)}
    100%{transform: translate(-50%, -50%) rotateY(0deg)}
}
