<div class="ui-fluid" id="workflow-detail" *ngIf="(item$ | async)">


<!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--DIALOGS ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <div>
    <kendo-dialog title="Please confirm" *ngIf="deleteModalIsOpen" (close)="deleteModalIsOpen == false" [minWidth]="250" [width]="450">
        <p style="margin: 30px; text-align: center;">Are you sure you want to delete the workflow? This procedure is irreversible.</p>
        <p style="text-align: center;">Do you want to proceed?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="deleteModalIsOpen == false">No</button>
            <button kendoButton (click)="deleteWorkflow()" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
  </div>


  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--WORKFLOW BASE info + CATEGORIES-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->


    <div class="ui-g-12">

        <div class="ui-g title">
            <h1 class="title__text title__text--workflow">Workflow Overview</h1>
        </div>

        <div class="card card-w-title border">
            <div class="ui-g">



                <div class="ui-g-12 ui-lg-4 ui-md-5">
                    <div class="ui-g">
                        <!-- ANIMATION WORKFLOW GOES HERE -->
                        <div class="svg-wrapper ui-g-12 margin-auto">
                            <svg id="workflow-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="100%" height="400px" viewBox="0 0 241 411">
                                <defs>
                                    <style>
                                        .cls-1,
                                        .cls-2 {
                                            fill: none;
                                        }

                                        .cls-1 {
                                            stroke: transparent;
                                        }

                                        .cls-1,
                                        .cls-2,
                                        .cls-3,
                                        .cls-6 {
                                            stroke-miterlimit: 10;
                                        }

                                        .cls-1,
                                        .cls-6 {
                                            stroke-width: 9px;
                                        }

                                        .cls-2,
                                        .cls-3,
                                        .cls-6 {
                                            stroke: #333;
                                        }

                                        .cls-3 {
                                            fill: #ededed;
                                        }

                                        .cls-5b {
                                            /* fill: #f9ba48; */
                                            fill: transparent;
                                        }

                                        .cls-4 {
                                            fill: #333;
                                        }

                                        .cls-6 {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <g id="workflow-animation">
                                    <polyline id="line-right" class="cls-1" points="120.6 355.17 120.6 323.2 205.4 323.2 205.4 141.1 120.5 141.1 120.5 95.7"
                                    />
                                    <polyline id="line-left" class="cls-1" points="120.5 355.17 120.5 323.2 35.5 323.2 35.5 141.1 120.5 141.1 120.5 95.7" />
                                    <line id="line-middle" class="cls-1" x1="120.6" y1="355.17" x2="120.6" y2="95.7" />
                                    <path id="stroke-path" class="cls-2" d="M125,94v42.1h85V327.2H125v28.9h-9v-29H30.9v-191H116V94h9m75.8,51.1H125.2V318.2h75.6Zm-85,0H40.2V318.2h75.6Z"
                                        transform="translate(0 0.5)" />
                                    <g id="lightbulb">
                                        <path class="cls-3" id="bulb" d="M144.4,95.2H96.8V67.8a38.1,38.1,0,1,1,47.6,0V95.2Z" transform="translate(0 0.5)" />
                                        <path class="cls-4" id="bulb-cage" d="M149.2,71.4H125.4V51.5a14.3,14.3,0,1,0-9.6,0V71.4H92V81h57.1l.1-9.6ZM120.6,33.3a4.8,4.8,0,0,1,4.8,4.8,4.8,4.8,0,0,1-9.6,0A4.8,4.8,0,0,1,120.6,33.3Z"
                                            transform="translate(0 0.5)" />
                                        <g id="flash">
                                            <rect class="cls-5b" x="56.8" y="34.6" width="19.9" height="8" />
                                            <rect class="cls-5b" x="60.9" y="54.7" width="19.9" height="8" transform="translate(-17.07 32.09) rotate(-22.51)" />
                                            <rect class="cls-5b" x="165.96" y="48.7" width="8" height="19.9" transform="translate(50.73 193.72) rotate(-67.5)" />
                                            <rect class="cls-5b" x="164.1" y="34.6" width="19.9" height="8" />
                                            <rect class="cls-5b" x="159.99" y="13.5" width="19.9" height="8" transform="translate(6.24 66.89) rotate(-22.51)" />
                                            <rect class="cls-5b" x="66.83" y="7.52" width="8" height="19.9" transform="translate(27.59 76.72) rotate(-67.5)" />
                                        </g>
                                    </g>
                                    <rect id="workflow-left" class="cls-6" x="4.5" y="209.4" width="62" height="46.1" />
                                    <rect id="workflow-middle" class="cls-6" x="89.3" y="209.4" width="62" height="46.1" />
                                    <rect id="workflow-right" class="cls-6" x="174.2" y="209.4" width="62" height="46.1" />
                                    <path id="workflow-start" class="cls-6" d="M139.4,406h-38a12,12,0,0,1-12-12V371.2a12,12,0,0,1,12-12h38a12,12,0,0,1,12,12V394A12,12,0,0,1,139.4,406Z"
                                        transform="translate(0 0.5)" />
                                </g>
                            </svg>

                        </div>

                        <!-- END WORKFLOW ANIMATION  -->


                        <!-- DEBUG PURPOSE -->

                        <!-- <div>{{item$ | async | json}}</div>
                                <div>
                                    {{ this.actualStatus$ | async }}
                                </div> -->

                        <div class="ui-g-12 text-center" *ngIf="(item$ | async).id != ''">
                            <button type="button" label="Run" (click)="runWorkflow()" class="button-function button-function--green">
                                <i class="fa fa-play"></i> Run</button>
                            <button type="button" label="Stop" (click)="stopWorkflow()" class="button-function button-function--red">
                                <i class="fa fa-stop"></i> Stop</button>
                            <button type="button" label="Check" (click)="checkWorkflow()" class="button-function button-function--blue">
                                <i class="fa fa-retweet"></i> Check</button>
                        </div>


                    </div>
                </div>

                <div class="ui-g-12 ui-lg-8 ui-md-7">
                    <div class="ui-g loop-title">
                        <h3 class="loop-title__text">Workflow information</h3>
                        <button class="loop-title__button-add" *ngIf="allowEdit === false" type="button" icon="fa-edit" label="Edit" (click)="editWorkflow()">Edit Workflow</button>
                    </div>

                    <div class="divider"></div>

                    <!-- ////////// TAGS ////////// -->
                    <div class="ui-g ">
                        <div class="ui-lg-12 no-padding">
                            <h2 class="margin-b-medium">Tags</h2>
                        </div>


                        <div class="ui-g-12 no-padding-left margin-b-large" *ngIf="allowEdit === false">

                            <span *ngFor="let tag of selectedTags">
                                <span [ngClass]="'tag'">
                                    {{tag}}
                                </span>
                            </span>

                        </div>

                        <div class="ui-g-12 ui-lg-9 no-padding-left" *ngIf="allowEdit === true">
                            <p-chips id="tags" [(ngModel)]="selectedTags" placeholder="Tags:" [ngModelOptions]="{standalone: true}"></p-chips>
                        </div>
                    </div>

                    <!-- <div class="divider"></div> -->

                    <div class=" ui-g">
                        <div class="ui-lg-12 no-padding">
                            <h2 class="margin-b-medium">Trigger</h2>
                        </div>


                        <div class="ui-g-12 no-padding-left margin-b-large" *ngIf="allowEdit === false">
                            <div class="flex">
                                <div class="flex__1">
                                    <p>Trigger type</p>
                                </div>

                                <div class="flex__2">
                                    <p>{{ triggerType }}</p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex__1">
                                    <p>Trigger parameters</p>
                                </div>

                                <div class="flex__2">
                                    <div *ngFor="let key of objectKeys(triggerParams)">
                                        <p>{{ triggerParams[key] + ' ' + (key) }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ui-g-9 ui-md-9 ui-sm-12 no-padding-left" *ngIf="allowEdit === true">
                            <label for="triggerType">Trigger type: </label>
                            <div class="border-radius">
                                <p-dropdown id="triggertype" name="triggerType" [options]="triggerTypes" [(ngModel)]="selectedTriggerType" [autoWidth]="false"
                                    [ngModelOptions]="{standalone: true}">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-g-9 ui-md-9 ui-sm-12 no-padding-left" *ngIf="allowEdit === true">
                            <trigger-time *ngIf="selectedTriggerType == 'time'" [item]="item$ | async" (onSave)="setTrigger($event)">
                            </trigger-time>
                            <trigger-mqtt *ngIf="selectedTriggerType == 'mqtt'" [item]="item$ | async" (onSave)="setTrigger($event)">
                            </trigger-mqtt>
                        </div>
                    </div>

                    <!-- <div class="divider"></div> -->

                    <div class="ui-g">
                        <!-- ////////// WORKFLOW ////////// -->

                        <div class="ui-lg-12 no-padding">
                            <h2 class="margin-b-medium">Workflow</h2>
                        </div>

                        <div class="ui-g-12 no-padding-left" *ngIf="allowEdit === false">
                            <div class="flex">
                                <div class="flex__1">
                                    <p>Workflow type</p>
                                </div>

                                <div class="flex__2">
                                    <p>{{ workflowType }}</p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex__1">
                                    <p>Workflow parameters</p>
                                </div>

                                <div class="flex__2">
                                    <div *ngFor="let key of objectKeys(workflowParams)">
                                        <p>{{ key + ' - ' + workflowParams[key] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-9 ui-sm-12 ui-md-9 no-padding-left " *ngIf="allowEdit === true">
                            <label for="workflowType">Workflow type: </label>
                            <div class="border-radius">
                                <p-dropdown id="workflowtype" name="workflowType" [options]="workflowTypes" [(ngModel)]="selectedWorkflowType" [autoWidth]="false"
                                    [ngModelOptions]="{standalone: true}">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-g-9 ui-sm-12 ui-md-9 no-padding-left margin-b-large" *ngIf="allowEdit === true">
                            <workflow-rand2mqtt *ngIf="selectedWorkflowType == 'rand2mqtt'" [item]="item$ | async" (onSave)="setWorkflow($event)">
                            </workflow-rand2mqtt>

                            <!-- TESTEXCEPTION -->
                            <workflow-testexception *ngIf="selectedWorkflowType == 'testexception'" [item]="item$ | async" (onSave)="setWorkflow($event)">
                            </workflow-testexception>

                            <!-- TEST1 -->
                            <workflow-test1 *ngIf="selectedWorkflowType == 'test1'" [item]="item$ | async" (onSave)="setWorkflow($event)">
                            </workflow-test1>

                            <!-- DEFAULTSENZOR -->
                            <workflow-defaultsenzor *ngIf="selectedWorkflowType == 'defaultsenzor'" [item]="item$ | async" (onSave)="setWorkflow($event)">
                            </workflow-defaultsenzor>
                        </div>


                        <div *ngIf="(item$ | async) && selectedWorkflowType != ''&& selectedTriggerType != ''">

                            <button *ngIf="allowEdit === true" type="button" pButton icon="fa-check" label="SAVE" (click)="saveWorkflow()" style="width:125px; height: 40px;"
                                class="ui-button-success"></button>
                            <button *ngIf="allowEdit === true" type="button" pButton icon="fa-trash" label="DELETE" (click)="deleteModalIsOpen = true" style="width:125px; height: 40px;"
                                class="ui-button-danger"></button>
                            <button *ngIf="allowEdit === true" type="button" pButton icon="fa-times-circle" label="CANCEL" (click)="cancelEditWorkflow()"
                                style="width:125px; height: 40px;" class="ui-button-warning"></button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!-- <div class="ui-g" *ngIf="(item$ | async) && selectedTriggerType != ''">
    
        <trigger-time *ngIf="selectedTriggerType == 'time'" [item]="item$ | async" (onSave)="setTrigger($event)">
        </trigger-time>
        
        <trigger-mqtt *ngIf="selectedTriggerType == 'mqtt'" [item]="item$ | async" (onSave)="setTrigger($event)">
        </trigger-mqtt>

    </div> -->
</div>