<div class="container">
  <img (click)="openServiceModal()" id="service-icon" src="../../assets/icons/service-needed.svg" alt="service icon">
  <img (click)="openReceptionPinModal()" id="summoning-icon" src="../../assets/icons/summon-a-receptionist.svg" alt="summon icon">
  <img (click)="openSnackPinModal()" id="snacks-icon" src="../../assets/icons/order-snacks.svg" alt="snacks icon">
  <img (click)="openSomethingElseModal()" id="something-icon" src="../../assets/icons/something-else.svg" alt="something icon">
</div>

<!-- SERVICE MODAL -->
<div class="modals">

  <!-- SERVICE MODAL -->
  <div class="service-modal">
    <div class="service-modal__content">
      <div class="u-center">
        <h1 class="heading-primary service-modal__h4">The meeting room will be readied.</h1>
        <div (click)='closeServiceModal()' class="ok-button service-modal__ok-button">OK</div>
      </div>
    </div>
  </div>

  <!-- PIN + RECEPTION MODAL -->
  <div class="reception-modal">
    <div class="card">
      <div class="card__side card__side-front">
        <form (submit)="onReceptionPinSubmit()" class="align-center">
          <div class="close-button" (click)="closeReceptionPinModal()"></div>
          <label for="pin" class="pin__h1 heading-primary">Enter your PIN</label>
          <input [(ngModel)]="pinNumber" type="password" name="pin" class="pin__input" placeholder="****" maxlength="4">
          <div class="pin__highlight highlight-1"></div>
          <button type="submit" class="pin__confirm-button confirm-button">Confirm</button>
        </form>
      </div>
      <div class="card__side card__side-back">
        <div class="u-center">
          <h4 class="heading-primary reception-modal__h4">A receptionist will arrive shortly.</h4>
          <button class="ok-button reception-modal__ok-button" (click)="closeReceptionModal()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- SNACKS MODAL (routing to Snacks component) -->

  <div class="snack-modal">
    <div class="snack-modal__content snack-shake">
      <form (submit)="onSnackPinSubmit()" class="align-center snack-3d">
        <div class="close-button" (click)="closeSnackPinModal()"></div>
        <label for="pin" class="pin__h1 heading-primary">Enter your PIN</label>
        <input [(ngModel)]="pinNumber" type="password" name="pin" class="pin__input" placeholder="****" maxlength="4">
        <div class="pin__highlight highlight-1"></div>
        <button type="submit" class="pin__confirm-button confirm-button">Confirm</button>
      </form>
    </div>
  </div>

  <!-- SOMETHING ELSE MODAL -->

  <div class="something-else-modal">
    <div class="something-else-modal__content">
      <div class="u-center">
        <h1 class="heading-primary service-modal__h4">Something else...</h1>
        <div (click)='closeSomethingElseModal()' class="ok-button service-modal__ok-button">SEND</div>
      </div>
    </div>
  </div>

</div>