<div id="workflow-test1">


  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info + CATEGORIES-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <div class="ui-g-12 no-padding">
    <div class="margin-b-medium">
      <label for="websocketroom">Websocket room</label>
      <input id="websocketroom" type="text" pInputText [(ngModel)]="websocketroom" />
    </div>

    <div class="margin-b-medium">
      <label for="mqtttopic">MQTT Topic</label>
      <input id="mqtttopic" type="text" pInputText [(ngModel)]="mqtttopic" />
    </div>

    <label for="influxtopic">Influx Topic</label>
    <div style="position: relative;">
      <input class='margin-b-medium' id="influxtopic" type="text" pInputText [(ngModel)]="influxtopic" />
      <button type="button" pButton (click)="saveWorkflow()" label="Set" style="width:100px;" class="button-absolute"></button>
    </div>

  </div>

  <!-- <div class="ui-g-12 ui-md-12">
      <label for="tags">Tags</label>
      <div class="ui-fluid">
        <p-chips id="tags" [(ngModel)]="item.tags"></p-chips>
      </div>
    </div> -->

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

</div>