<div class="navbar">

      <div (click)="onHome()" class="button home-button" routerLink="home">
            <a 
                  routerLink="home"
                  routerLinkActive="normal-shadow"
                  >
                  Home
            </a>
            <span 
                  routerLink="home"
                  routerLinkActive="active-tab"
                  id="home">
            </span>
      </div>

      <div (click)="onCalendar()" class="button calendar-button" routerLink="calendar">
            <a 
                  routerLink="calendar"
                  routerLinkActive="normal-shadow"
                  >
                  Calendar & Booking
            </a>
            <span 
                  routerLink="calendar"
                  routerLinkActive="active-tab"
                  id="calendar">
            </span>
      </div>

      <div (click)="onReception()" class="button reception" routerLink="reception">
            <a 
                  routerLink="reception"
                  routerLinkActive="normal-shadow"
                  >
                  Reception
            </a>
            <span 
                  routerLink="reception"
                  routerLinkActive="active-tab"
                  id="reception" >
            </span>
      </div>

      <span 
            class="time" 
            [ngClass]="(sharedService.state=='Maintenance')&& (sharedService.activeTab=='Home')?'special':'normal'">
            {{ myDate | date:'HH:mm:ss' }} 
      </span>
      
</div>