<div class="homeBody">
    <div class="changeStatus">
        <span class="buttons" id="reserved" (click)="onReserved()">Reserved</span>
        <span class="buttons" id="available" (click)="onAvailable()">Available</span>
        <span class="buttons" id="maintenance" (click)="onMaintenance()">Maintenance</span>
    </div>
    <div class="room">Jupiter</div>
    <div class="status">Reserved</div>
    <div class="presenter">
        <span>by</span>
        <div>Jan Novák</div>
    </div>
    <div class="timeline-axis-container">
        <div class="timeline-fade">
            <div class="timeline-fade-beginning"></div>
        </div
        ><div class="timeline-axis">
            <div class="base-axis">
                

                <!-- Use ngFor -->
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>
                <div class="time-stick-minute"></div>
                <div class="time-stick-hour"></div>

                <div class="time-reserved"></div>
                <div class="time-circle"></div>
                <div class="time-circle-number">{{ myDate | date:'HH:mm' }}</div>
            </div>

            <div class="time-axis">
                <!-- Use ngFor -->
                <div class="time-number">0:00</div>
                <div class="time-number">1:00</div>
                <div class="time-number">2:00</div>
                <div class="time-number">3:00</div>
                <div class="time-number">4:00</div>
                <div class="time-number">5:00</div>
                <div class="time-number">6:00</div>
                <div class="time-number">7:00</div>
                <div class="time-number">8:00</div>
                <div class="time-number">9:00</div>
                <div class="time-number">10:00</div>
                <div class="time-number">11:00</div>
                <div class="time-number">12:00</div>
                <div class="time-number">13:00</div>
                <div class="time-number">14:00</div>
                <div class="time-number">15:00</div>
                <div class="time-number">16:00</div>
                <div class="time-number">17:00</div>
                <div class="time-number">18:00</div>
                <div class="time-number">19:00</div>
                <div class="time-number">20:00</div>
                <div class="time-number">21:00</div>
                <div class="time-number">22:00</div>
                <div class="time-number">23:00</div>
                <div class="time-number">0:00</div>
            </div>
        </div
        ><div class="timeline-fade">
            <div class="timeline-fade-end"></div>
        </div>
    </div>
</div>