<div id="workflow-testexception">
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info + CATEGORIES-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <div class="ui-g-12 no-padding">
    <!-- <h1>Test "panic" Exception workflow</h1> -->
    <div class="margin-b-medium">
      <label for="messagescount">Messages count</label>
      <input id="messagescount" type="text" pInputText [(ngModel)]="messagescount" />
    </div>


    <label for="mqtttopic">MQTT Topic</label>
    <div style="position: relative;">
      <input class='margin-b-medium' id="mqtttopic" type="text" pInputText [(ngModel)]="mqtttopic" />
      <button type="button" pButton (click)="saveWorkflow()" label="Set" style="width:100px;" class="button-absolute"></button>
    </div>



  </div>
  <!-- <div class="ui-g-12 ui-md-12">
          <label for="tags">Tags</label>
          <div class="ui-fluid">
            <p-chips id="tags" [(ngModel)]="item.tags"></p-chips>
          </div>
        </div>
    -->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

</div>