@import "./variables";
* {
    margin: 0;
    padding: 0;
}

*,
**::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px; // previous was 10px
    box-sizing: border-box;
    @media only screen and (max-width: 380px) {
        font-size: 12px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    min-height: 100vh;
    transition: all 0.5s;
    /* Calendar body background colors. Classes are set in homeComponent.ts */
    &.maintenance {
        background: $color-yellow;
        color: $color-black;
    }
    &.reserved {
        background: $color-red;
        color: $color-white;
    }
    &.available {
        background: $color-green;
        color: $color-white;
    }
}

::-webkit-scrollbar {
    display: none;
}

button,
.button {
    outline: none;
    border: none;
}