/*
This styles changes default material design
*/

@import "./variables";
//
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    font-size: 1rem;
    font-family: $font-family;
}

// button
button.mat-raised-button {
    line-height: 50px;
    padding: 0 36px;
    font-size: 1.2rem;
}

// chip
.mat-chip {
    font-size: 1rem;
}

// dialog
.cdk-overlay-pane {
    width: 100%;
    max-width: 650px !important;
    min-width: auto !important;
}

//time picker button
.time-picker-button.mat-button {
    // tested in add-meeting-dialog-component
    margin: 0 10px 27px 0 !important;
}

//rounded time picker
.w-time {
    height: 480px !important;
    .w-time-content {
        w-clock {
            width: 100%;
        }
    }
    .w-clock-wrapper {
        padding: 0 !important;
        .w-clock {
            width: 370px !important;
            height: 370px !important;
            max-width: 100%;
            max-height: 100%;
            padding: 30px !important;
            .w-clock-selected {
                bottom: -25px !important;
                left: -24px !important;
            }
            .mat-mini-fab {
                width: 50px;
                height: 50px;
            }
            @media only screen and (max-width: 960px) {
                width: 290px !important;
                height: 290px !important;
            }
        }
    }
}

///////////////////////////////////////////////////////////////////
/// timeline
////////////
.vis-timeline {
    border: 0;
}

.vis-time-axis {
    .vis-grid {
        background: rgba(0, 0, 0, .5);
        border: 0;
        border-left: 2px solid $color-green !important;
        &.vis-minor {
            border: 0;
        }
        &.vis-major {
            border: 0;
            box-sizing: border-box;
        }
    }
    .vis-text {
        color: $color-white;
        margin-left: 5px;
        &.vis-major {
            font-weight: bold;
        }
        &.vis-minor {}
    }
}

.vis-current-time {
    background-color: $color-red;
    width: 2px;
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $color-red;
        position: absolute;
        top: 0;
        transform: translate(-45%, 0);
    }
}

.vis-panel {
    &.vis-bottom,
    &.vis-center,
    &.vis-left,
    &.vis-right,
    &.vis-top {
        // border: 1px solid $color-green;
        border: 0;
    }
}