
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body .ui-widget-header
{
    background-color: #d8d8d8 !important;
}


.backButton{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
}