<!-- <div>
    <button routerLink="/">Go Back</button>
    <hr>
    <input type="text" (keyup)="onNameKeyUp($event)">
    <button (click)="getInformation()">HTTP GET/POST EXERCISE</button>
    <br>
</div>

<div>
    <h3>From SharedService</h3>
    <h4>{{ informatio }}</h4>
</div>
<hr> -->

<div class="flex-container flex-center">
  <div class="flex-container">
    <div class="calendar-days flex-container flex-center">MON</div>
    <div class="calendar-days flex-container flex-center">TUE</div>
    <div class="calendar-days flex-container flex-center">WED</div>
    <div class="calendar-days flex-container flex-center">THU</div>
    <div class="calendar-days flex-container flex-center">FRI</div>
    <div class="calendar-days flex-container flex-center">SAT</div>
    <div class="calendar-days flex-container flex-center">SUN</div>
  </div>
</div>