<!-- ******************************************** -->
<!-- CHECK -->
<!-- ******************************************** -->

<div class="ui-g">

  <div class="ui-g-12">

      <button type="button" pButton label="CHECK" (click)="checkSenzor()" class="ui-button-success"></button>

  </div>

</div>


<!-- ******************************************** -->
<!-- CONTROL PANEL -->
<!-- ******************************************** -->

<div class="ui-g">

  <div class="ui-g-12">

    <img *ngIf="actualValue == 1" class="mypicture" src="assets/images/senzorStates/motion.png">
    <img *ngIf="actualValue == 0" class="mypicture" src="assets/images/senzorStates/nomotion.png">

  </div>
  <div class="ui-g-12">

    <div>{{actualValue}}</div>

  </div>

</div>


<!-- ******************************************** -->
<!-- CHARTS -->
<!-- ******************************************** -->


<div class="ui-g">

  <div class="ui-g-12">

    <!-- https://www.usefuldev.com/blog/post/using-highcharts-in-an-angular-cli-project -->
    <div #chartTarget>
      chart target
    </div>

  </div>

</div>