<div id="adobeanimatecc" style="margin:0px;">            
    <div id="animation_container" style="background-color:rgba(51, 153, 204, 1.00); width:747px; height:420px">
		<canvas id="canvas" width="747" height="420" style="position: absolute; display: block; background-color:rgba(51, 153, 204, 1.00);"></canvas>
		<div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:747px; height:420px; position: absolute; left: 0px; top: 0px; display: block;">
		</div>
	</div>
</div>