<div id="trigger-time" *ngIf="item">

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info + CATEGORIES-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <div class="ui-g-12 no-padding">
      <label for="seconds">Generate random number every x seconds: </label>
      <div style="position: relative;">
        
        <input class="margin-b-medium" id="seconds" type="text" pInputText [(ngModel)]="seconds" />
        <button type="button" pButton (click)="saveTrigger()" label="Set" style="width:100px;" class="button-absolute"></button>
    </div>
    <!-- <button type="button" (click)="saveTrigger()">Set</button> -->
  </div>

  
      
  

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

</div>

