@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=latin-ext');

.navbar {
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: transparent;
    position: static;
}   
.navbar div {
    display: inline-block;
    padding: 2vh 5vw 2vh 5vw;
}
.navbar div a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-family: "Microsoft Yi Baiti", serif;
}
.active-tab {
    display: block;
    height: 2px;
    width: 0;
    background-color: transparent;
    border-radius: 25px;
    margin: auto;
    margin-top: 3px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.05s;
}
.on {
    width:100%;
    box-shadow: 0px 0px 10px white;
    background-color: white;
}
.on2 {
    width: 100%;
    box-shadow: 0px 0px 10px black;
    background-color: black;
}
.time {
    display: inline-block;
    position: absolute;
    padding: 20px;
    right: 1%;
    font-weight: bold;
    font-family: "Microsoft Yi Baiti", serif;
    font-size: 200%;
}
.special {
    color: black;
}
.special-shadow {
    text-shadow: 0px 0px 10px black;
}

.normal {
    color: white;
}
.normal-shadow {
    text-shadow: 0px 0px 10px white;
}
.button {
    transform: translateX(2rem);
}