@import '~scss/variables';
@import '~scss/base';

.home-body{
    // background-color: blue;
    color: white;
    position: relative;
    top: $nav-height;
    margin-top: 15vh;
}

#timeline-body {
    position:absolute;
    bottom:0;
    width:100%;
}

.changeStatus .buttons {
    padding: 0 10px;
    text-transform: lowercase;
    cursor: pointer;
}

.room, .presenter, .status {
    display: block;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}

.room, .presenter {
    font-size: 500%;
}
.room {
    margin-bottom: 4vh;
}
.presenter {
}
.status {
    font-size: 120px;
}
.presenter span {
    font-size: 20px;
    text-transform: lowercase !important;
}
.presenter div {
    display: inline-block;
}



