@import '~scss/variables';
@import '~scss/base';
.home-body {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timeline-body {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.changeStatus .buttons {
    padding: 0 10px;
    text-transform: lowercase;
    cursor: pointer;
}

.room,
.presenter,
.status {
    display: block;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}

.room,
.presenter {
    font-size: 3.5rem;
}

.room {
    margin-bottom: 4vh;
}

.status {
    font-size: 7.5rem;
}

.presenter {
    div {
        display: inline-block;
    }
    span {
        font-size: 1.25rem;
        text-transform: lowercase !important;
    }
}