<h1>Senzor Detail</h1>

<div id="senzor-detail">


    <div class="ui-g">

        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->
        <!-- BASE INFO -->
        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->

        <div class="ui-g-6" *ngIf="item$ | async">
            <div class="ui-g">


                <app-base-info [item]="item$ | async" (onSave)="saveSenzor($event)" (onDelete)="deleteSenzor($event)" (onCancel)="cancelSenzor()"></app-base-info>


            </div>
        </div>



        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->
        <!--CHARTS-->
        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->

        <div class="ui-g-6">
            <div class="ui-g">

                <div class="ui-g-12">

                    <!-- https://www.usefuldev.com/blog/post/using-highcharts-in-an-angular-cli-project -->
                    <div #chartTarget>
                        chart target
                    </div>

                </div>

                <div class="ui-g-12">

                    <!-- https://www.usefuldev.com/blog/post/using-highcharts-in-an-angular-cli-project -->
                    <div #chartTarget2>
                        chart target
                    </div>

                </div>

            </div>
        </div>


    </div>


</div>