@import url("https://fonts.googleapis.com/css?family=Lato:300");

.snacks {
    width: 97vw;
    height: 88vh;
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 2vh;
}
.snack-menu, .snack-order {
    display: inline-block;
    width: 48.5vw;
    margin: 0;
    height: 88vh;
}
.snack-menu {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    overflow: scroll;
}
.snack-order {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    position: absolute;
    top: calc(50px+1vw);
}
.shopping-cart {
    display: block;
    width: 47.5vw;
    height: 68vh;
    margin: 0;
    overflow: scroll;
}
.snack-category-icons{
    margin-top: 15px;
    width: 70%;
    height: 70%;
}
.color-box {
    margin: 20px auto 0 auto;
    width: 135px;
    height: 135px;
    border-radius: 40px;
    background-color: #41D0E0;
}
.categories {
    cursor: pointer;
    font-family: Lato;
    font-weight: 700;
    text-align: center;
    font-size: 150%;
    width: 33%;
    height: 33%;
    margin: 0;
    display: inline-block;
}
.categories p {
    margin: 5px 0 0 0;
    letter-spacing: 1px;
    height: 60px;
    width: auto;
    word-wrap: break-word;
    text-align: center;
    overflow: hidden;
}
.subcategories {
    font-family: Lato;
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.arrow-left {
    display: inline-block;
    position: relative;
    width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
    border-right: 10px solid #F44336;
    transform: translatex(-10px);
}
#button-back{
    cursor: pointer;
    padding: 2px;
    margin: 10px auto 0 20px;
    font-size: normal;
    color: #F44336;
    font-weight: 300;
    border: 1px solid #F44336;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 50px;
}
/* ANIMACE BACK TLACITKA */

.snack-item{
    border-bottom: 1px solid blue;
    padding: 10px;
    margin: 10px 20px 0 20px;
}
.option {
    display: flex;
    width: calc(100%-2vw);
    margin: 1vw 0 1vw 0;
    justify-content:flex-beginning;
}
.circle {
    display: inline-block;
    height: 5vw;
    width: 5vw;
    background-color: white;
    border-radius: 50%;
    margin: 0 0.5vw 0 0.5vw;
}
.circle-plus, .circle-minus {
    background-color: #03A9F4;
}
.amount {
    text-align: center;
    color: #95989A;
    font-size: 2vw;
    font-family: 'Segoe UI';
    line-height: 5vw;
}
.minus {
    position: relative;
    top: 2.25vw;
    left: 0.75vw;
    height: 0.5vw;
    width: 3.5vw;
    background-color: white;
    border-radius: 25px;
}
.plus {
    position: relative;
    top: 1.80vw;
    left: 0.75vw;
    height: 0.5vw;
    width: 3.5vw;
    background-color: white;
    border-radius: 25px;
    transform: rotate(90deg);
}
.trash {
    background-color: #F44336;
    margin-left:auto;
}
.trash img {
    position: relative;
    top: 0.5vw;
    left: 0.5vw;
    width: 4vw;
    height: 4vw;
}
.item {
    display: inline-block;
    height: 5vw;
    line-height: 5vw;
    margin-left: 15px;
    color: #95989A;
    font-size: 175%;
    font-family: 'Segoe UI';
}
.order {
    display: block;
    z-index: 5;
    position: relative;
    height: 17vh;
    margin: 5px auto;
    width: 47.5vw;
}

.order-border {
    position: relative;
    left: 7.5vw;
    width: 30vw;
    height: 2px;
    background-color: #03A9F4;
}
.order-button {
    width: 10vw;
    height: 4vw;
    background-color: #03A9F4;
    border-radius: 50px;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    line-height: 3.8vw;
    font-family: 'Segoe UI';
    margin: 1vw auto 1vw auto;
}

::-webkit-scrollbar { 
    display: none; 
}