<div id="workflow-defaultworkflow">


  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--VALIDATIONS, MESSAGES ... etc.-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <p-messages [value]="messagesToUser"></p-messages>

  <p-growl [value]="validations"></p-growl>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--PRODUCT BASE info + CATEGORIES-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->

  <div class="ui-g-12 no-padding">
    <!-- <h1>X into MQTT</h1> -->
    <div class="margin-b-medium">
      <label for="websocketroom">Websocket room</label>
      <input id="websocketroom" type="text" pInputText [(ngModel)]="websocketroom" />
    </div>

    <label for="influxtopic">Influx Topic</label>
    <div style="position: relative;">
      <input class='margin-b-medium' id="influxtopic" type="text" pInputText [(ngModel)]="influxtopic" />
      <button type="button" pButton (click)="saveWorkflow()" label="Set" style="width:100px;" class="button-absolute"></button>
    </div>



  </div>

  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->
  <!--BUTTONS-->
  <!--*********************************************************************************************-->
  <!--*********************************************************************************************-->


  <p-messages [value]="messagesToUser"></p-messages>

</div>