<div id="workflow-savetoprometheus">


    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
    <!--VALIDATIONS, MESSAGES ... etc.-->
    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
  
    <p-messages [value]="messagesToUser"></p-messages>
  
    <p-growl [value]="validations"></p-growl>
  
  
  
  
  
    <h1>Save to Prometheus</h1>
  
  
    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
    <!--PRODUCT BASE info + CATEGORIES-->
    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
  
    <div class="ui-g">
  
      <!--STATE + BASE INDORMATIONS-->
      <div class="ui-g-12">
  
  
        <div class="ui-g">
  
          <!--STATE-->
          <div class="card card-w-title" style="width:  100%; padding-bottom: 16px;" [ngClass]="{'nonvalid': !isStateValid }">
            <!--<h1>State</h1>-->
  
            <div class="text-center">
              <div class="btn-group" role="group">
                <button type="button" id="new" class="btn" [class.btn-default]="item.state != '1'" [class.btn-warning]="item.state === '1'"
                  (click)="selectState($event)">New</button>
                <button type="button" id="approved" class="btn" [class.btn-default]="item.state != '2'" [class.btn-success]="item.state == '2'"
                  (click)="selectState($event)">Approved</button>
                <button type="button" id="forbidden" class="btn" [class.btn-default]="item.state != '3'" [class.btn-danger]="item.state === '3'"
                  (click)="selectState($event)">Forbidden</button>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="ui-g">
  
          <!--BASE INDORMATIONS-->
          <div class="card card-w-title" style="width: 100%;">
            <h1>Base Informations</h1>
  
  
            <div class="ui-g-12">
  
              <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">
                  <label for="name">Workflow Name</label>
                  <div class="ui-fluid">
                    <input id="name" type="text" pInputText [(ngModel)]="workflowName" [ngClass]="{'nonvalid': !isNameValid }" disabled />
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="senzorid">Senzor ID</label>
                  <div class="ui-fluid">
                    <input id="senzorid" type="text" pInputText [(ngModel)]="senzorID" [ngClass]="{'nonvalid': !isPathValid }" />
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="topic">Topic</label>
                  <div class="ui-fluid">
                    <input id="topic" type="text" pInputText [(ngModel)]="topic" [ngClass]="{'nonvalid': !isWifiSSIDValid }" />
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="mqtturl">MQTT Url</label>
                  <div class="ui-fluid">
                    <input id="mqtturl" type="text" pInputText [(ngModel)]="MqttUrl" [ngClass]="{'nonvalid': !isWifiPasswordValid }"
                    />
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="prometheusurl">Prometheus Url</label>
                  <div class="ui-fluid">
                    <input id="prometheusurl" type="text" pInputText [(ngModel)]="gatewayUrl" [ngClass]="{'nonvalid': !isMqttValid }" />
                  </div>
                </div>
              </div>
  
            </div>
  
  
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  
  
  
  
  
    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
    <!--BUTTONS-->
    <!--*********************************************************************************************-->
    <!--*********************************************************************************************-->
  
  
    <div class="ui-g">
  
      <div class="ui-g-12">
        <div class="card card-w-title">
  
          <button type="button" pButton icon="fa-arrow-left" label="CANCEL" (click)="cancelWorkflow()" class="ui-button-warning"></button>
  
  
          <button *ngIf="item.id" type="button" pButton icon="fa-trash-o" label="DELETE" (click)="deleteWorkflow()" class="ui-button-danger"></button>
  
  
          <button type="button" pButton icon="fa-check" label="SAVE" (click)="saveWorkflow()" class="ui-button-success"></button>
  
        </div>
      </div>
  
    </div>
  
  
    <p-messages [value]="messagesToUser"></p-messages>
  
  </div>