.button-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.button-upload {
  border: 1px solid $color-grey-basic;
  color: $color-grey-basic;
  background-color: white;
  padding: 8px 20px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  transition: all .25s ease-in-out;

  &:hover {
    background-color: $color-border-grey;
    border: 1px solid transparent;
    color: $color-text-dark;
  }
}

.button-upload-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 8px;
  height: 35px;
  width: 135px;
  opacity: 0;
}