<h1>Senzor Detail</h1>
<div class="myerror" *ngIf="error$ | async">{{error$ | async}}</div>
<div id="senzor-detail">


    <div class="ui-g" *ngIf="item$ | async">

        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->
        <!-- BASE INFO -->
        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->

        <div class="ui-g-12">
            <div class="card">

                <app-senzor-base-info [item]="item$ | async" (onSave)="saveSenzor($event)" (onDelete)="deleteSenzor($event)" (onCancel)="cancelSenzor()"></app-senzor-base-info>

            </div>
        </div>


        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->
        <!-- WORKFLOWS -->
        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->

        <div class="ui-g-12">
            <div class="card">

                <senzor-workflow-list [senzorName]="(item$ | async).name"></senzor-workflow-list>

            </div>
        </div>

        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->
        <!--PANELS-->
        <!--*********************************************************************************************-->
        <!--*********************************************************************************************-->

        <!--*********************************************************************************************-->
        <!--POWER-->
        <!--*********************************************************************************************-->

        <div class="ui-g-12" *ngIf="(item$ | async).type == 'CellarSenzor Power v1.0'">
            <div class="card">
                <relay-panel [senzorName]="(item$ | async).name"></relay-panel>
            </div>
        </div>

        <!--*********************************************************************************************-->
        <!--DHT11-->
        <!--*********************************************************************************************-->

        <div class="ui-g-12" *ngIf="(item$ | async).type == 'CellarSenzor Temperature v1.0'">
            <div class="card">
                <dht11-panel [senzorName]="(item$ | async).name"></dht11-panel>
            </div>
        </div>

        <!--*********************************************************************************************-->
        <!--PIR-->
        <!--*********************************************************************************************-->

        <div class="ui-g-12" *ngIf="(item$ | async).type == 'CellarSenzor Motion v1.0'">
            <div class="card">
                <pir-panel [senzorName]="(item$ | async).name"></pir-panel>
            </div>
        </div>


    </div>


</div>