<div class="navbar">
  <div (click)="onHome()" class="button home-button">
    <a
          [class.normal]="(sharedService.state!='Maintenance') || (sharedService.activeTab!='Home')"
          [class.special]="(sharedService.state=='Maintenance') && (sharedService.activeTab=='Home')"
          [class.normal-shadow]="(sharedService.state!='Maintenance') && (sharedService.activeTab=='Home')"
          [class.special-shadow]="(sharedService.state=='Maintenance') && (sharedService.activeTab=='Home')">Home</a>
    <span id="home" class="active-tab" 
          [class.on]="sharedService.activeTab=='Home' && sharedService.state!='Maintenance'"
          [class.on2]="sharedService.activeTab=='Home' && sharedService.state=='Maintenance'"></span>
  </div>
  <div (click)="onCalendar()" class="button calendar-button">
    <a 
          [class.normal]="(sharedService.state!='Maintenance') || (sharedService.activeTab!='Home')"
          [class.special]="(sharedService.state=='Maintenance') && (sharedService.activeTab=='Home')"
          [class.normal-shadow]="sharedService.activeTab=='Calendar'">Calendar & Booking</a>
    <span id="calendar" class="active-tab" 
          [class.on]="sharedService.activeTab=='Calendar'"></span>
  </div>
  <div (click)="onReception()" class="button reception">
    <a
          [class.normal]="(sharedService.state!='Maintenance') || (sharedService.activeTab!='Home')"
          [class.special]="(sharedService.state=='Maintenance') && (sharedService.activeTab=='Home')"
          [class.normal-shadow]="sharedService.activeTab=='Reception'">Reception</a>
    <span id="reception" class="active-tab" 
          [class.on]="sharedService.activeTab=='Reception'"></span>
  </div>
  <span class="time" [ngClass]="(sharedService.state=='Maintenance')&& (sharedService.activeTab=='Home')?'special':'normal'">{{ myDate | date:'HH:mm:ss' }}   </span>
</div>



