@import '~scss/variables';
:host {
    background-color: $color-navy-light;
}

.container {
  font-size: 1.875rem;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: auto;
    max-width: 180px;
    position: relative;
    top: 10%;
    app-calendar-section,
    app-booking-section {
        width: 50%;
    }
}