// @import 'scss/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-navy-dark-1);
}

.container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-content: space-evenly;
  font-family: var(--font-segoe);
  max-width: 180rem;
  font-size: 3rem;
  margin: auto;
  top: 10%;

  // @media only screen and (max-width: 100em) {
  //   font-size: 2.5rem;
  // }

}

.calendar,
.booking {
  display: flex;
  flex-direction: column;
  border-radius: .25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-3);
  overflow: hidden;
  height: 85vh;
}

.calendar {
  align-items: center;
  background: var(--color-grey-light-1);
  flex: 0 0 57.5%;
  font-size: inherit;
  font-weight: 400;
}

.current-month {
  display: flex;
  width: 84rem;
  justify-content: center;
  margin: 4rem auto;
  position: relative;
  // background-color: lightblue;
}

.month-home {
  color: var(--color-grey-dark-1);
  position: absolute;
  font-size: inherit;
  padding: .5rem 1rem;
  left: 0;
  top: -.5rem;
  border: 1px solid var(--color-grey-dark-1);
  border-radius: 1rem;
  cursor: pointer;
}

.month-year {
  
  width: 30rem;
  text-align: center;
  font-size: inherit;
  font-weight: 300;
  font-family: var(--font-lato);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-grey-dark-1);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1.25rem solid transparent;
  border-bottom: 1.25rem solid transparent;
  border-left: 2.2rem solid transparent;
  border-right: 2.2rem solid var(--color-grey-dark-1);
  margin-right: 1rem;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1.25rem solid transparent;
  border-bottom: 1.25rem solid transparent;
  border-left: 2.2rem solid var(--color-grey-dark-1);
  border-right: 2.2rem solid transparent;
  margin-right: 1rem;
  margin-left: 1rem;
}

.days-of-week {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  width: 84rem;
  margin-bottom: 1rem;
  color: var(--color-grey-dark-1);
  justify-content: space-evenly;
}

.calendar-days {
  text-align: center;
  width: 12rem; 
  margin-bottom: 1rem;
  // background-color: lightblue;
}

#hr {
  width: 84rem;
  height: .1rem;
  background-color: var(--color-grey-dark-1);
  border-radius: 50px;
  box-shadow: var(--shadow-3);
}

.days {
  padding: 1rem 0;
  display: flex;
  width: 84rem;
  flex-wrap: wrap;
  justify-content: center;
  
  @media only screen and (max-width: 100em) {
   
  }
}

.meeting-counter {
  width: 2.5rem;
  height: 2.5rem; // background-color: red;
  border-radius: 100%;
  position: absolute; // transform: translate(5.5rem, 1rem);
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.day-box {
  margin: 1rem;
  width: 9.7rem;
  height: 9.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  border-radius: 100%;
  transition: border .25s ease-out;
  // background-color: lightgreen;
}

.current-week-body {
  border-top: .1rem solid var(--color-navy-dark-1);
  border-bottom: .1rem solid var(--color-navy-dark-1);
}

.current-week-start {
  border-top-left-radius: 100%;
  border-top: .1rem solid var(--color-navy-dark-1);
  border-bottom: .1rem solid var(--color-navy-dark-1);
  border-bottom-left-radius: 100%;
  border-left: .1rem solid var(--color-navy-dark-1);
}

.current-week-end {
  border-top: .1rem solid var(--color-navy-dark-1);
  border-right: .1rem solid var(--color-navy-dark-1);
  border-bottom: .1rem solid var(--color-navy-dark-1);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.bigger-font {
  font-size: 3.5rem;
  color: var(--color-grey-dark-1);

  @media only screen and (max-width: 100em) {
    font-size: 2.75rem;
  }
}

.inactive {
  opacity: .15;
  color: var(--color-grey-1) !important;
}

.today {
  margin: 1rem;
  background-color: var(--color-purplish-1);
  width: 9.7rem;
  height: 9.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.95rem;
  color: var(--color-white) !important;
}

.booking {
  align-items: center;
  justify-content: center;
  background: var(--color-grey-light-1);
  flex: 0 0 38.5%;
}

.selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 15rem;
}

.details {
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 60%;
}

.reservations {
  margin: 5rem auto;
  font-size: 2.5rem;
  width: 70%;
  &__duration {
    letter-spacing: .1rem;
    margin-right: 1rem;
  }
}

.reservation {
  display: flex;
  position: relative;
  align-items: center;
  height: 8rem;

  &__duration {
    text-align: center;
    width: 15.5rem;
    margin-left: 7rem;
    margin-right: 2rem;
  }

  &__by {
    font-size: 2rem;
  }
}

.edit, .remove, .add {
  position: absolute;
  width: 5rem;
  height: 5rem;
}

.edit, .add {
  left: 2%;
  top: 20%;
}

.remove {
  top: 20%;
  right: 2%;
}

.date {
  font-size: 11rem;
  font-family: var(--font-lato);
  color: var(--color-navy-dark-1);
}

.inverse {
  color: var(--color-navy-dark-2);
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.5rem;
}

.month,
.year {
  display: flex;
}

.month {
  font-size: 2rem;
}

.year {
  font-size: 2.5rem;
}

.edit-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.edit-modal__content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.edit-section {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center; // background-color: lightpink;
}

.edit-button {
  outline: none;
  border-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  letter-spacing: 2px;
  width: 18rem;
  height: 7rem;
  padding-bottom: .5rem;
  border-radius: .35rem;
  box-shadow: var(--shadow-3);
  background-color: var(--color-navy-dark-2);
  font-family: var(--font-microsoft);
  color: var(--color-grey-light-1);
  &:focus {
    outline: none !important;
  }
}

.separator {
  width: 55%;
  height: .35rem;
  border-radius: 5rem;
  background-color: var(--color-navy-dark-2);
  box-shadow: 0 .75rem 3rem rgba(0, 0, 0, .5);
}

.u-center {
  text-align: center;
}

.ok-button {
  display: inline-block;
  background-color: rgb(3, 169, 244);
  border-radius: 5px;
  padding: 15px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.booking-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.booking-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0);
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}