@import './src/assets/sass/custom/base/variables';
@import './src/assets/sass/custom/modules';

.map-big {
    height: 400px;
  }

  .map-wrapper {
      position: relative;
  }

  .map-mini {
      width: 250px;
      height: 180px;
  }
.nonvalid
{
    background-color: #FFCDD2;
}


//image thumbnail
.img-thumbnail
{
    // padding: 0.25rem;
    background-color: #fff;
    // border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    max-width: 100%;
    height: auto;
}
