@import './SPA/assets/sass/custom/base/variables';
@import './SPA/assets/sass/custom/modules';


.newStatePanel{
  border-left: 5px solid #2196f3 !important;
}

.approvedStatePanel{
  border-left: 5px solid #459e45 !important;
}

.forbiddenStatePanel{
  border-left: 5px solid #af241f !important;
}

.mycard{
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.custom-card {
  box-shadow: $box-shadow-1;
}

.place-detail {
  font-family: $font-roboto;
}

.title {
  width: 100%;
  background-color: #fff;
  margin: 0;
}

.spaces {
  display: flex;
  width: 100%;
  // background-color: lightgreen;
  margin: 0 0 10px 0;
  position: relative;
  &__text {
      display: flex;
      flex-grow: 1;
      background-color: #transparent;
      color: $color-black-1;
      font-weight: 400;
      // font-family: 'Lato';
      // text-transform: uppercase;
      // letter-spacing: 1px;
      justify-content: center;
      align-items: center;
      height: 48px;
      margin: 0;
      border-radius: 5px;
      border: 1px solid $color-black-1;

      @media (max-width: 640px){
        font-size: 20px;
      }
  }

  &__button--add {
    position: absolute;
      font-size: 24px;
      width: 50px;
      height: 50px;
      margin: 0;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  @media (max-width: 1025px) {
    width: 40%;
  }
}

.space-section {
  // background-color: lightgreen;
  // width: 250px;
  &__img {
    padding-top: 10px;
    text-align: center;
    object-fit: cover;
  }

  &__name {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }
}

.newspace-form {


  &__title {
    margin: 0;
    
  }
}