@import '~scss/variables';
:host {
    width: 39%;
    min-width: 190px;
    @media only screen and (max-width: 910px) {        
        width: 49%;
    }
    @media only screen and (max-width: 590px) {
        display: block;
        width: 100%;
    }
}

.booking {
    background-color: $color-white;
    border-radius: $radius;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    padding: $gap-inner;
    height: 100%;
    max-height: 100%;
}

.selected-date {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 6.875rem; // same as font size of date
    .date {
        font-size: 6.875rem;
        color: $color-navy-light;
        margin-right: 10px;
        line-height: .8;
    }
    .inverse {
        box-sizing: border-box;
        color: #1C2961;
        display: flex;
        flex-direction: column;
        .month {
            font-size: 1.25rem;
        }
        .year {
            font-size: 1.5625rem;
        }
    }
    @media only screen and (max-width: 590px) {
        margin-bottom: $gap-inner;
        min-height: auto;
    }
}

.wrapper {
    border-top: 1px solid $color-navy-dark;
    border-bottom: 1px solid $color-navy-dark;
    margin: 0 auto;
    padding: 30px 0 0 0;
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;
    .reservations {
        .reservation {
            color: $color-grey;
            margin-bottom: 10px;
            padding: 0 0 13px 70px;
            position: relative;
            font-size: 1.3rem;
            &.available {
                color: $color-green;
            }
            &.reserved {
                color: $color-red;
                .event {
                    color: $color-grey;
                }
            }
            .remove,
            .add {
                position: absolute;
                width: 50px;
                height: 50px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -6px; // instead of parent top padding
            }
            .duration {
                font-weight: bold;
                margin-right: 10px;
                width: 100%;
            }
            .event {}
        }
    }
}

.btn-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
    width: 100%;
    height: 20%;
    text-align: center;
    .separator {
        margin: 0 auto auto auto;
    }
    .edit-button {
        background-color: $color-navy-dark;
        border-radius: $radius;
        border: 0;
        box-shadow: $shadow-1;
        color: $color-grey-light;
        outline: none;
        margin: auto;
        font-size: 2.5rem;
        width: 95%;
        max-width: 180px;
        height: 70px;
        text-align: center;
        vertical-align: middle;
        &:focus {
            outline: none !important;
        }
    }
    @media only screen and (max-width: 590px) {
        display: block;
        .separator {
            margin: 0 auto $gap-inner auto;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.separator {
    background-color: $color-navy-dark;
    border-radius: 50px;
    box-shadow: $shadow-1;
    display: block;
    margin: auto;
    width: 95%;
    max-width: 250px;
    height: 3px;
}