<div class="booking">

  <div class="selected-date">
    <div class="date">{{selectedDate.format('D')}}</div>
    <div class="inverse">
      <div class="month">{{selectedDate.format('MMMM')}}</div>
      <div class="year">{{selectedDate.format('YYYY')}}</div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="wrapper">
    <div class="reservations" *ngFor="let meeting of bookedMeetings">
      <div class="reservation" [ngClass]="meeting.status">

        <div [@showEditButtons]="showEditButtons" *ngIf="showEditButtons && meeting.status === 'available'" (click)="createMeeting(meeting)">
            <img src="../../assets/icons/plus.svg" alt="Add" class="add">
        </div>

        <div [@showEditButtons]="showEditButtons" *ngIf="showEditButtons && meeting.status === 'reserved'" (click)="deleteMeeting(meeting)">
            <img src="../../assets/icons/Minus.svg" alt="Remove" class="remove">          
        </div>

        <span class="duration">
          {{ meeting.start.format('HH:mm') }} - {{ meeting.end.format('HH:mm') }}
        </span>
        <span class="created-by">
          {{ meeting.by }}
        </span>

      </div>
    </div>
  </div>

  <div class="btn-block">
    <div class="separator"></div>
    <button class="edit-button" (click)="onEditButton()">EDIT</button>
  </div>

</div>