<div>
    <div class="ui-g-5 ui-sm-12">
        <div class="card card-w-title no-padding">

            <div class="ui-g title ">
                <button class="title__button-add" icon="fa-plus" type="button" (click)="newPlace()">+</button>
                <h1 class="title__text title__text--purple">Places</h1>
            </div>

            <div class="ui-g loop-card" id="style-1">
                <div *ngFor="let item of (items$ | async)" class="ui-g-12 item">
                    <div class="ui-g-12 no-padding" (click)="selectItem(item.id)" [ngClass]="colorMap[item.state]">
                        <div class="loop-card__item">
                            <div class="item-card">
                                <h3 class="item-card__name">{{item.name}}</h3>
                                <span class="item-card__location">
                                    <h4 style="margin-bottom: 3px;">{{item.country}}, {{item.city}}</h4>
                                    
                                    <h4>{{item.street}}</h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="ui-g-7 ui-sm-12 map">

        <div *ngIf="items$ | async">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker *ngFor="let item of (items$ | async)" [latitude]="getNumber(item.latitude)" [longitude]="getNumber(item.longtitude)"></agm-marker>
            </agm-map>
            <!-- <iframe src="https://snazzymaps.com/embed/55058" width="100%" height="862px" style="border:none; border-radius: 5px;"></iframe> -->
        </div>

    </div>

</div>